Repository conterra/reactivity: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:common --write, eslint

add an additional test for "once" parameter
  packages/reactivity-events/src/events.test.ts
Due: pnpm run prettier:common --write, eslint

Update README.md
  packages/reactivity-events/README.md
Due: pnpm run prettier:common --write

Correct wrong order of parameters in a description
  .changeset/full-steaks-deny.md
  packages/reactivity-events/README.md
Due: pnpm run prettier:common --write

Dedupe deps
  pnpm-lock.yaml
Due: none

wip
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

Update babel runtime
  package.json
  pnpm-lock.yaml
Due: pnpm run prettier:common --write

Update to pnpm v10
  .github/actions/install/action.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write

allow building esbuild
  pnpm-workspace.yaml
Due: none

Finish implementing linked signals
  .changeset/lazy-bananas-turn.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-events/README.md
Due: pnpm run prettier:common --write, eslint

Implement linked signals (#21)
  .changeset/lazy-bananas-turn.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-events/README.md
Due: pnpm run prettier:common --write, eslint

Fix accidental usage of node:test
  packages/reactivity-core/src/effect/sharedTests.ts
  packages/reactivity-core/src/watch/watch.test.ts
Due: pnpm run prettier:common --write, eslint

Bump dependencies
  .changeset/ten-sides-marry.md
  eslint.config.mjs
  package.json
  packages/reactivity-core/package.json
  packages/reactivity-core/src/effect/sharedTests.ts
  packages/reactivity-core/src/watch/watch.test.ts
  playground/package.json
  pnpm-lock.yaml
Due: pnpm run prettier:common --write, eslint

Use preact signal's watched/unwatched hooks
  .changeset/fruity-webs-sin.md
  .changeset/some-schools-happen.md
  packages/reactivity-core/src/hacks.test.ts
  packages/reactivity-core/src/hacks.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-core/src/types.ts
Due: pnpm run prettier:common --write, eslint

Support subscribed/unsubscribed hooks for event emitters (closes #12)
  .changeset/sharp-singers-report.md
  packages/reactivity-events/README.md
  packages/reactivity-events/src/events.test.ts
  packages/reactivity-events/src/events.ts
  packages/reactivity-events/src/internals.ts
Due: pnpm run prettier:common --write, eslint

Add missing group annotation
  packages/reactivity-events/src/events.ts
Due: pnpm run prettier:common --write, eslint

Add missing export
  packages/reactivity-events/src/events.ts
  packages/reactivity-events/src/index.ts
Due: pnpm run prettier:common --write, eslint

Path conditions:
  pnpm run prettier:common --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
