Repository conterra/reactivity: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:common --write, eslint

Fix gc tests
  packages/reactivity-core/vitest.config.ts
Due: pnpm run prettier:common --write, eslint

Fix reactivity in clear()
  packages/reactivity-core/src/collections/map.test.ts
  packages/reactivity-core/src/collections/map.ts
Due: pnpm run prettier:common --write, eslint

Implement fine grained reactivity for array
  packages/reactivity-core/src/collections/array.test.ts
  packages/reactivity-core/src/collections/array.ts
  packages/reactivity-core/src/signals.test.ts
Due: pnpm run prettier:common --write, eslint

Fix yielding undefined items
  packages/reactivity-core/src/collections/map.ts
Due: pnpm run prettier:common --write, eslint

Optimize change tracking in collections (#42)
  .changeset/old-ends-grow.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/collections/array.test.ts
  packages/reactivity-core/src/collections/array.ts
  packages/reactivity-core/src/collections/map.test.ts
  packages/reactivity-core/src/collections/map.ts
  packages/reactivity-core/src/collections/tracking.test.ts
  packages/reactivity-core/src/collections/tracking.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/tsconfig.prod.json
  packages/reactivity-core/vitest.config.ts
  playground/vite.config.ts
  tsconfig.json
  vite-env.d.ts
Due: pnpm run prettier:common --write, eslint

Remove references to `import.meta.env.VITEST` from published code
  .changeset/better-views-tap.md
  packages/reactivity-core/package.json
  packages/reactivity-events/package.json
Due: pnpm run prettier:common --write

Use trails base config for renovate
  renovate.json
Due: pnpm run prettier:common --write

Update lockfile
  pnpm-lock.yaml
Due: none

Require node >= 22 only
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write

Deprecate `external`
  .changeset/pink-lizards-poke.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

Fix linter error
  vite-env.d.ts
Due: pnpm run prettier:common --write, eslint

Override dev dependencies to fix audit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert to 1.13.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump dev dependencies (CVEs)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  pnpm run prettier:common --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
