Repository conterra/reactivity: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:common --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["pnpm run prettier:common --write", "eslint"],
    "*.{md,json,css,scss,html}": ["pnpm run prettier:common --write"]
}

Update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update to TypeScript 6
  packages/reactivity-core/tsconfig.prod.json
  packages/reactivity-events/tsconfig.prod.json
  playground/app.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: pnpm run prettier:common --write, eslint

Update @preact/signals-core to v1.14.0
  .changeset/happy-books-own.md
  packages/reactivity-core/src/collections/tracking.ts
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-core/src/utils/ChangeTracker.ts
  packages/reactivity-core/src/utils/nextVersion.test.ts
  packages/reactivity-core/src/utils/nextVersion.ts
  packages/reactivity-events/package.json
  packages/reactivity-events/src/internals.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write, eslint

Bump vite and happy dom due to CVEs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update secret name
  .github/workflows/build.yml
Due: none

Remove obsolete @ts-expect-error directive
  playground/app.ts
Due: pnpm run prettier:common --write, eslint

Remove deprecated exports
  .changeset/floppy-socks-raise.md
  .changeset/purple-brooms-attack.md
  .changeset/young-walls-hear.md
  packages/reactivity-core/src/effect/index.ts
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-core/src/types.ts
  packages/reactivity-core/src/watch/index.ts
  packages/reactivity-events/src/events.ts
  packages/reactivity-events/src/index.ts
Due: pnpm run prettier:common --write, eslint

Migrate to pnpm v11
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write

Revert "Update pnpm to v11 (#67)"
  package.json
Due: pnpm run prettier:common --write

Remove obsolete excludes
  pnpm-workspace.yaml
Due: none

Add missing changeset
  .changeset/salty-keys-give.md
Due: pnpm run prettier:common --write

Add basic agents.md
  AGENTS.md
Due: pnpm run prettier:common --write

Improve test suite
  packages/reactivity-core/src/collections/set.test.ts
  packages/reactivity-core/src/collections/set.ts
  packages/reactivity-core/src/effect/index.test.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/struct/struct.test.ts
  packages/reactivity-core/src/utils/equality.test.ts
  packages/reactivity-core/src/watch/index.test.ts
  packages/reactivity-events/src/events.test.ts
Due: pnpm run prettier:common --write, eslint

Improve test suite (#89)
  AGENTS.md
  packages/reactivity-core/src/collections/set.test.ts
  packages/reactivity-core/src/collections/set.ts
  packages/reactivity-core/src/effect/index.test.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/struct/struct.test.ts
  packages/reactivity-core/src/utils/equality.test.ts
  packages/reactivity-core/src/watch/index.test.ts
  packages/reactivity-events/src/events.test.ts
Due: pnpm run prettier:common --write, eslint

Improve implementation of `linked`
  README.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

add missing changeset
  .changeset/ten-things-tap.md
Due: pnpm run prettier:common --write

Improve implementation of `linked` (#90)
  .changeset/ten-things-tap.md
  README.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

downgrade minor to patch
  .changeset/ten-things-tap.md
Due: pnpm run prettier:common --write

Implement constant signal
  .changeset/strong-singers-doubt.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

Implement constant signal (#92)
  .changeset/strong-singers-doubt.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint
