Repository conterra/reactivity: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:common --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["pnpm run prettier:common --write", "eslint"],
    "*.{md,json,css,scss,html}": ["pnpm run prettier:common --write"]
}

Typo
  packages/reactivity-events/CHANGELOG.md
  packages/reactivity-events/README.md
Due: pnpm run prettier:common --write

Override brace-expansion to resolve CVE
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Configure renovate
  package.json
  renovate.json
Due: pnpm run prettier:common --write

Add changeset
  .changeset/vast-ideas-mix.md
Due: pnpm run prettier:common --write

Update dependencies manually
  package.json
  playground/package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm run prettier:common --write, eslint

Bump @eslint/plugin-kit to resolve GHSA-xffm-g5w8-qvg7
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump @eslint/plugin-kit (GHSA-xffm-g5w8-qvg7)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Refactor context of syncEffect (closes #26)
  .changeset/sharp-news-watch.md
  packages/reactivity-core/src/effect/syncEffect.ts
Due: pnpm run prettier:common --write, eslint

Introduce `dispatch` option to effect and watch.
  .changeset/dirty-moles-remain.md
  .changeset/pink-coats-cheat.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/collections/map.test.ts
  packages/reactivity-core/src/effect/AsyncEffect.ts
  packages/reactivity-core/src/effect/asyncEffect.test.ts
  packages/reactivity-core/src/effect/index.test.ts
  packages/reactivity-core/src/effect/index.ts
  packages/reactivity-core/src/effect/sharedTests.ts
  packages/reactivity-core/src/effect/syncEffect.test.ts
  packages/reactivity-core/src/effect/syncEffect.ts
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/test/doMutation.ts
  packages/reactivity-core/src/types.ts
  packages/reactivity-core/src/watch/Watcher.ts
  packages/reactivity-core/src/watch/index.test.ts
  packages/reactivity-core/src/watch/index.ts
  packages/reactivity-core/src/watch/watch.test.ts
Due: pnpm run prettier:common --write, eslint

Bump 'tmp' packages (GHSA-52f5-9888-hmc6)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Enable type checked linting
  eslint.config.mjs
  packages/reactivity-core/src/collections/array.ts
  packages/reactivity-core/src/collections/map.ts
  packages/reactivity-core/src/collections/set.ts
  packages/reactivity-core/src/effect/index.test.ts
  packages/reactivity-core/src/effect/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/struct/struct.ts
  packages/reactivity-core/src/test/doMutation.ts
  packages/reactivity-core/src/watch/index.test.ts
  tsconfig.json
Due: pnpm run prettier:common --write, eslint

Disable type checked linting again
  eslint.config.mjs
  packages/reactivity-core/src/collections/array.ts
  packages/reactivity-core/src/effect/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/struct/struct.ts
Due: pnpm run prettier:common --write, eslint

Implement `dispatch` option for events, deprecated `onSync()`.
  .changeset/fine-seas-cheer.md
  .changeset/ten-forks-swim.md
  packages/reactivity-events/README.md
  packages/reactivity-events/src/events.test.ts
  packages/reactivity-events/src/events.ts
  packages/reactivity-events/src/index.ts
  packages/reactivity-events/src/internals.ts
Due: pnpm run prettier:common --write, eslint

Fix typedoc warnings
  packages/reactivity-core/typedoc.json
  typedoc.base.json
  typedoc.config.cjs
Due: pnpm run prettier:common --write, eslint

Migrate to catalogs
  package.json
  packages/reactivity-core/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write

Fix build
  packages/reactivity-decorators/index.test.ts
  packages/reactivity-decorators/index.ts
Due: pnpm run prettier:common --write, eslint

Fix vitest config
  vitest.config.ts
Due: pnpm run prettier:common --write, eslint

Remove obsolete dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write

Sync layout of packages
  packages/reactivity-decorators/package.json
  packages/reactivity-decorators/src/index.test.ts
  packages/reactivity-decorators/src/index.ts
  packages/reactivity-decorators/tsconfig.prod.json
  packages/reactivity-decorators/typedoc.json
  typedoc.config.cjs
Due: pnpm run prettier:common --write, eslint

Cleanup, docs
  packages/reactivity-decorators/src/computedProperty.test.ts
  packages/reactivity-decorators/src/computedProperty.ts
  packages/reactivity-decorators/src/index.test.ts
  packages/reactivity-decorators/src/index.ts
  packages/reactivity-decorators/src/reactiveProperty.test.ts
  packages/reactivity-decorators/src/reactiveProperty.ts
  packages/reactivity-decorators/typedoc.json
  tsconfig.base.json
  typedoc.base.json
  typedoc.config.cjs
Due: pnpm run prettier:common --write, eslint

Remove references to deprecated functions
  packages/reactivity-core/src/types.ts
  packages/reactivity-core/src/watch/index.ts
  packages/reactivity-events/src/events.ts
Due: pnpm run prettier:common --write, eslint
