Repository conterra/reactivity: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:common --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["pnpm run prettier:common --write", "eslint"],
    "*.{md,json,css,scss,html}": ["pnpm run prettier:common --write"]
}

Use pr triggers for branches other than main
  .github/workflows/build.yml
Due: none

Wrap equals call in untracked
  .changeset/dull-clubs-cheer.md
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

Add MaybeReactive<T>, ReactiveSource<T> and getReactive()
  .changeset/legal-things-count.md
  .changeset/wet-trams-stay.md
  packages/reactivity-core/README.md
  packages/reactivity-core/src/index.ts
  packages/reactivity-core/src/signals.test.ts
  packages/reactivity-core/src/signals.ts
  packages/reactivity-core/src/types.ts
Due: pnpm run prettier:common --write, eslint

Add missing deprecation notice to changelog
  .changeset/quick-seas-retire.md
Due: pnpm run prettier:common --write

Fix typo
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint

Run prettier
  packages/reactivity-core/src/struct/struct.ts
Due: pnpm run prettier:common --write, eslint

Update pnpm
  package.json
Due: pnpm run prettier:common --write

Fix renovate schema validation error on pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

Add changeset
  .changeset/flat-news-yawn.md
Due: pnpm run prettier:common --write

Resolve CVE warnings / bump dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add gc tests for signal graphs
  packages/reactivity-core/src/gc.test.ts
Due: pnpm run prettier:common --write, eslint

Make gc tests more stable
  packages/reactivity-core/src/collections/tracking.test.ts
  packages/reactivity-core/src/gc.test.ts
  packages/reactivity-core/src/test/gc.ts
Due: pnpm run prettier:common --write, eslint

Run prettier
  packages/reactivity-core/README.md
  packages/reactivity-core/src/collections/array.ts
  packages/reactivity-core/src/struct/struct.ts
  pnpm-workspace.yaml
Due: pnpm run prettier:common --write, eslint

Use one large block for 'untracked'
  packages/reactivity-core/src/signals.ts
Due: pnpm run prettier:common --write, eslint
